/** Copyright 2024 www.mumbleface.net  -- john wiggins

  Redistribution and use in source and binary forms, with or without modification, are permitted
  provided that the following conditions are met:

  1. Redistributions of source code must retain the above copyright notice, this list of conditions
     and the following disclaimer.

  2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions
     and the following disclaimer in the documentation and/or other materials provided with the distribution.

  3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse
     or promote products derived from this software without specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
  INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
  USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

  https://www.mumbleface.net: mflogger
  html/css documentation for the  mflogger library    **/

body {
  /* background-color: #1A2C56; */
  /* background-color: #2e4a62; */
  /* background-color: #f7f7f7; */
  /* background-color: #282A36; */
  background-color: #202124;
  font-family: "Verdana";
  /* src: url(sansation_bold.woff); */
  /* color: #D1A683; */
  /* color: #5ed4a9; */
  /* color: #6d9299; */
  /* color: #F8F8D5; */
  color: #E8EAED;
  padding: 0px 5px;
}

.center {
  text-align: center;
}

pre {
  /* color: #A8FAFD; */
  color: #CA98C5;
  font-family: "Courier New";
  padding: 0px 10px;
}
 
pre b {
  font-size: 1.5em;
}

.comment {
  color: #98CA9D;
}

a {
  /* color: #8aff80; */
  color: #876C3A;
}
a:visited {
  color: #9aff90;
}
a:hover {
  /*color: #6adf60; */
  color: #775C2A;
}
a:active {
  color: #ffffff;
}

